body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#8d7ea5;

} 
p{
    text-align: justify;
}
header
{
    display: flex;
    justify-content:space-between;
    width: 100%;
    background-color: #0e0819;
    height: 400px;
}
header div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerdiv1
{
    width: 55%;

}
.headerdiv2{
    width: 45%;
}
header div p{
    font-size:20px;
    margin-left:10px;
    text-align:center;
}
header div a
{
    font-weight: bold;
    text-decoration: none;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
    padding:5px 10px;
    border: 2px solid rgb(239, 234, 232);
}
header a:hover{
    
    background-color: #b89de7;
    color:#010003;
    font-weight: bolder;
    border: 2px solid rgb(239, 234, 232);
}
.headerdiv2 img
{
    box-shadow: 2px 2px 20px rgb(224, 166, 229);
}
section
{
    background-color:#8d7ea5;
   /*  border:2px solid rgb(216, 26, 26); */
}
section h2
{
    background-color: #e5d7eb;
    border: 2px solid rgb(111, 97, 97);   
    padding:5px;
    border-radius:7px;
    margin:20px;
    width: 40%;
}
#about p, #skills p
{
  /*   border:1px solid orange; */
    margin:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;

}
#skills ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0px;
}
#skills ul li
{
    padding:5px 20px;
}
#skills ul li img
{
    border-radius:5px;
}
.project
{
    margin:20px;
     padding:10px; 
     border: 1px solid white;
}
.project h3
{
    background-color: #e5d7eb;
    border: 2px solid rgb(111, 97, 97);   
    border-radius:7px; 
    margin:20px;
    padding:5px;
    width: 30%;
}
.project p{
    margin:20px 20px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
#a{
    text-decoration: none;
    background-color: #eee;
    font-weight: bold;
    color:#333;
    margin:20px;
    height: 20px;
    border-radius: 7px;
    padding: 5px;
}

 #maindegree
{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
#degree_div{
    
     display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column; 
}
#degree_div p
{
    
    font-weight: bold;
    color: #f8e8f8;
    background-color: #433758;
    padding: 5px;
    justify-content: center;
    border-radius: 6px;
}
#degree_div img{
    border-radius:5px;
    border: 3px solid rgb(58, 15, 50);
    box-shadow: 3px 3px 8px 2px rgb(58, 15, 50);
}
span
{
    font-weight: bold;
    font-size: 18px;
    color:white;
    
}
footer{
    background-color: #433758;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}